services:
  - type: web
    name: gravity-backend
    env: python
    region: ohio
    buildCommand: pip install -r backend/requirements.txt
    startCommand: uvicorn backend.api.app:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
